
<div class="container">
  <div class="row">
    <div class="col-md-6 col-offset-4">
      <%= line_chart [

      {name: "Series A", data: [
                ['Year', 'Sales'],
                ['2004',  1000],
                ['2005',  1200],
                ['2006',  700],
                ['2007',  1030],
                ['2008',  500],
                ['2009',  300],
                ['2010',  200],
                ['2011',  900],
                ['2012',  1500],
                ['2013',  2000],
                ['2014',  1500],
                ['2015',  2500],
                ['2016',  3000],
                ['2017',  3500],
                ]},

      {name: "Series B", data: [
                ['Year', 'Sales'],
                ['2004',  1000],
                ['2005',  1100],
                ['2006',  600],
                ['2007',  1030],
                ['2008',  300],
                ['2009',  900],
                ['2010',  4000],
                ['2011',  2500],
                ['2012',  1500],
                ['2013',  800],
                ['2014',  3000],
                ['2015',  1500],
                ['2016',  1000],
                ['2017',  1200],
                ]}]%>
    </div>
  </div>
</div>


<%= line_chart json_decisions %>

