<nav class="main-nav" id="main-nav">
  <a href="#">This</a>
  <a href="#">Little</a>
  <a href="#">Piggy</a>
  <a href="#">Went</a>
  <a href="#">To</a>
  <a href="#">Market</a>
</nav>

<div class="page-wrap">

  <header class="main-header">
    <a href="#main-nav" class="open-menu">
      ☰
    </a>
    <a href="#" class="close-menu">
      ☰
    </a>
    <h1>cssPanelMenu</h1>
  </header>
  <div class="content">
    <button class="close-menu">qsd</button>
    <button class="open-menu">qsd</button>
  </div>
</div>
