.card-indicator {
  // background-color: gray;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
}

.card-item {
  height: 40px;
  padding: 5px;
  border-radius: 3%;

}

.card-title {
  background-color: #D2CECE;
  margin-bottom: 0;
}
.card-value {
  background-color: white;
  margin-top: 0;
}
