<div class="container">
  <div class="row">
    <h1 class="text-center">Practice and have fun!</h1></br>
    <p>Every day you can see your company's key metrics to help you manage your supply chain.</p>
    <p>We have setup a few tooltips to give more explanations on key indicators. In order to see them
    simple hover over them.</p>
    <h4>Have fun!</h4>
  </div>
</div>
