<div class="container">
  <div class="row">
    <h1 class="text-center">Practice and have fun!</h1></br>
    <hr>
    <p>Every day you can see your <strong>company's key metrics</strong> to help you manage your supply chain.</p>
    <p>We have setup a few <strong>tooltips</strong> to give more explanations on key indicators. In order to see them
    simple <strong>hover over them</strong>.</p></br>
    <h4 class="text-center">Have fun!</h4>
  </div>
</div>
