<!-- <div id="chart_div"></div> -->
<% data = @gamesession.orders.take(@current_day).map {|order| [@gamesession.orders.index(order), order]} %>

<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Treasury history</h3>
    <%= line_chart @cash_array, id: "cash-chart", library: {curveType: "none", pointSize: 0, hAxis: { textPosition: 'none' } }%>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">Orders history</h3>
    <%= line_chart data, id: "orders-chart", library: {curveType: "none", pointSize: 0, hAxis: { textPosition: 'none' } } %>
  </div>
</div>

<!-- <div id="chart_div"></div> -->



<% if false %>
  <% content_for(:js) do %>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart', 'line']});
      google.setOnLoadCallback(drawBasic);

      function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');

            data.addRows(<%= data %>);
console.log(<%= data %>)
            var options = {
              hAxis: {
                title: 'Time'
              },
              vAxis: {
                title: 'Popularity'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
          }
    </script>
  <% end %>
<% end %>
