<h2 class="text-center">Order history</h2>


<!-- <div id="chart_div"></div> -->
<% data = @gamesession.orders.take(@current_day).map {|order| [@gamesession.orders.index(order), order]} %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= line_chart @cash_array, id: "cash-chart"%>
    </div>
    <div class="col-md-6">
      <%= line_chart data, id: "orders-chart"%>
    </div>
  </div>
</div>


<div id="chart_div"></div>



<% if false %>
  <% content_for(:js) do %>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart', 'line']});
      google.setOnLoadCallback(drawBasic);

      function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X');
            data.addColumn('number', 'Dogs');

            data.addRows(<%= data %>);
console.log(<%= data %>)
            var options = {
              hAxis: {
                title: 'Time'
              },
              vAxis: {
                title: 'Popularity'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
          }
    </script>
  <% end %>
<% end %>
