#cash-chart {
  width: 100% !important;
  height: 100% !important;
}

#orders-chart {
  width: 100% !important;
  height: 100% !important;
}

#cash-chart > div > div:nth-child(1) > div > svg > g:nth-child(3) > g:nth-child(4)
