.dashboard-form {
  background: rgb(244, 244, 244);
  margin-top: 55px;
  padding: 20px 80px;
  border-radius: 3px;
  border-left: 2px solid rgb(232, 232, 232);
  h3 {
    margin: 0;
    font-size: 17px;
  }
  .toggle.btn {
    width: 85px !important;
  }
  li {
    padding-right: 0 !important;
  }
}
.dashboard-control {
  display: flex;
  align-items: center;
  height: 50px;
  &:first-child {
    border-bottom: 1px solid rgb(234, 234, 234);
    .dashboard-control-input {
      font-size: 18px;
      font-weight: bolder;
      color: $red;
    }
  }
  &-title {
    flex: 0 0 100%;
    h3 {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}
.dashboard-control-label {
  flex: 0 0 160px;
}
.dashboard-control-input {
  flex: 1 1 auto;
}

.totalcostsstyling {
  box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: 'Open Sans', Helvetica, sans-serif;
font-size: 16px;
font-weight: normal;
height: 22px;
line-height: 22.4px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: center;
}
