// Place all the styles related to the enterprises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body
{
  height: 100%;
}

.row {
  height: 100%;
  width: 100%;
}

.enterprise-profile {
  height: 100%;
}

.enterprise-center {
  height: 100%;
}

.enterprise-indicators {
  height: 100%;
  padding: 2%;
  background-color: #DBEFFF;
}

.border-column {
  border: solid 1px black;
}


// RAFA'S CODE
.white {
  background-color: white;
}

.margin-center {
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}
.block {
  display: block;
}

.padding-top-bottom {
  padding-top: 2%;
  padding-bottom: 2%;
}

.card-indicator {
  // background-color: gray;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
}

.card-item {
  height: 40px;
  padding: 5px;
  border-radius: 3%;

}

.card-title {
  background-color: #D2CECE;
  margin-bottom: 0;
}
.card-value {
  background-color: white;
  margin-top: 0;
}
