<!DOCTYPE html>
<html>
  <head>
    <title>Tamayo</title>
    <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.min.js"></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- RP: delete line related with chartstick because ir generated a pbm -->
    <!-- TODO? put javascript after yield, and made a modification in order to call jquery for the buttons ++ and -- -->
  </head>
  <body>
    <%= yield %>

  </body>
</html>
